<div class="bg-transparent border-b-[#394050] border-b-[.1rem] pb-2 flex items-center gap-3 justify-between">
  <div>
    @if (isInputBox) {
      <app-btn-control [hasMarkActive]="true" textBtn="Detect Language"/>
    }
    
    <app-btn-control [hasMarkActive]="false" textBtn="English"/>
    <app-btn-control [hasMarkActive]="false" textBtn="French"/>
    <app-language-selector />
  </div>

  @if (!isInputBox) {
    <app-btn-base ariaLabel="change">
      <app-icon-double-arrow />
    </app-btn-base>
  }
</div>
