<div class="relative rounded-sm h-full text-slate-200 max-h-[22rem] min-h-[10rem] pb-6">

  @if (isInputBox) {
    <textarea
      class="resize-none w-full bg-transparent h-full outline-none overflow-hidden"
      [formControl]="textAreaControl"
      name="textArea"
      placeholder="Tu texto aquí"
    >
    </textarea>
  } @else {
    <textarea
      class="resize-none w-full bg-transparent h-full outline-none overflow-hidden"
      [formControl]="textAreaControl"
      name="textArea"
      placeholder="Tu texto aquí"
    >
    </textarea>
  }

  @if (isInputBox) {
    <span
      class="text-auxiliar block absolute z-10 bottom-0 right-0 text-xs"
      [ngClass]="{'text-red-500': textAreaControl.invalid}"
    >
      @if (textAreaControl.invalid) { <strong >Max exceded: </strong> }
      {{textAreaControl.value.length }}/500
    </span>
  }
</div>
