@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-page {
    background: url('/src//assets//img//blur-radial.svg') -30% -500%,
    url('/src//assets//img//blur-radial.svg') 140% 600%;
    background-color: #121826;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  label:has(input[type=checkbox]:checked) {
    @apply 
    text-primary 
    bg-checked-bg 
    border-checked-border
    font-medium
  }
  .invalid {
    @apply
    border-red-500
    bg-red-900/40
  }

  .valid {
    @apply
    border-green-500
    bg-green-900/40
  }

  .msnValid {
    @apply
    bg-green-300
    text-white
  }

  .msnInvalid {
    @apply
    bg-red-600
    text-white
  }
}