
<select class=" truncate rounded-md bg-transparent text-white py-2 px-3 font-medium text-sm hover:bg-[#4D5562] max-w-[7rem] btn-control"
  #selectorLanguage
  name="language"
  aria-label="select language"
  (blur)="changeLanguage(selectorLanguage.value)"
>

  @for (language of listLanguagesFull; track $index) {
    <option class="bg-[#272D43] text-white" [value]="language.code">{{language.name}}</option>
  } @empty {
    <option class="bg-[#272D43] text-white" value="no data">No data</option>
  }

</select>
