@if (developerData !== null) {
  <header class="flex flex-wrap sm:flex-nowrap gap-x-8 py-3 sm:gap-12 items-start">
    <div class="w-28 h-28 sm:w-32 sm:h-32 aspect-square bottom-5 rounded-3xl p-2 bg-[#20293A] -translate-y-2/4">
      <img
        [srcset]="developerData.avatar_url"
        class="rounded-xl object-cover top-0"
        alt="developer photo"
        fill
      >
    </div>

    <ul class="flex flex-wrap gap-4">
      @for (item of dataTagsUser | keyvalue; track $index) {
        <app-tag-info
          [dataTag]="{ label:item.key, info: item.value }"
        />
      }
    </ul>
  </header>
}
