.message {
  --main-color: #71a523;
  position: fixed;
  inset: 5rem auto auto 50%;
  display: flex;
  gap: 1rem;
  padding: .3rem 1rem;
  background-color: var(--main-color, #71a523);
  border-radius: .5rem;
  border: solid .15rem var(--bg-card, #20293A);
  transform: translateX(-50%);
  user-select: none;
  opacity: 0;

  .message-content {
    color: #fff;
    font-weight: 500;
    letter-spacing: .05rem;
  }

  .message-check {
    height: 1.5rem;
    width: 1.5rem;
    display: grid;
    place-content: center;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 50%;
    color: var(--main-color, #71a523);
    background-color: #fff;
  }
}

.animate-message {
  animation: appearMessage ease-in-out 2s ;
}

@keyframes appearMessage {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: translateX(-50%) translateY(-2rem);
  }
  100% {
    opacity: 0;
    display: none;
    transform: translateX(-50%) translateY(-2rem);
  }
}